.Loaded{
    align-content: justify;
    overflow: hidden;
    scroll-margin-inline: yes;
    text-align: center;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    font-style: italic;
    word-break: break-all;   
}

.post{
    border: 2px solid;
    scroll-margin-inline: yes;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


/*Change this for over all theme*/
#bodyID{
    background-color: #2F3C7E;
    font-family: 'Courier New', Courier, monospace;
    color: #FBEAEB;
}

#titleID{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
}